# src/main/resources/application.yml (모든 환경에 기본으로 적용)

spring:
  profiles:
    active: dev

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
#        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}
server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: ${JWT_EXPIRATION_MS}

settlement:
  broker:
    exchange: ${SETTLEMENT_BROKER_EXCHANGE:servease.order.settlement.exchange}
    routing-key: ${SETTLEMENT_BROKER_ROUTING_KEY:servease.order.settlement}
    queue: ${SETTLEMENT_BROKER_QUEUE:servease.order.settlement.queue}
