# src/main/resources/application.yml (기본 프로파일 - 개발 환경에 사용될 설정)

spring:

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update #엔티티 변경 시 스키마 자동 업데이트

  h2:
    console:
      enabled: true #http://localhost:8080/h2-console
      path: /h2-console

server:
  port: 8080